footer {
  padding: 20px 10px 20px;
}
.menu-filter {
  display: grid;
  gap: 20px;
  grid-template-columns: 1fr 1fr 1fr;
  list-style: none;
  text-align: center;
}

.menu-filter li.active {
  background: #aaa;
}
.form-check {
  display: flex;
  align-items: center;
  justify-content: center;
}
.form-check-label {
  margin-left: 5px;
}
.button-check {
  padding: 1px;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  border: 2px solid #bbbdc7;
  color: #00000000;
  cursor: pointer;
}
