@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap");

* {
  padding: 0;
  margin: 0;
  font-family: "Poppins", sans-serif;
  outline: none;
  border: none;
  border-radius: 0;
  color: #000000bd;
}
body {
  position: absolute;
  width: 100%;
  height: 100%;
  font-size: 0.95rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(30deg, #9ea5ec, #b5eef0, #6ddad3) fixed;
}
